@model AddVM
@{
    ViewBag.Title = "Add Car";
}

<h1>Add Car</h1>
<form asp-controller="" asp-action="">
    <label asp-for="Brand"></label>
    <input asp-for="Brand" />
    <span asp-validation-for="Brand"></span>

    <label asp-for="Model"></label>
    <input asp-for="Model" />
    <span asp-validation-for="Model"></span>

    <label asp-for="Year"></label>
    <input asp-for="Year" />
    <span asp-validation-for="Year"></span>

    <label asp-for="EngineType"></label>
    <input asp-for="EngineType" />
    <span asp-validation-for="EngineType"></span>

    <label asp-for="TripMeter"></label>
    <input asp-for="TripMeter" />
    <span asp-validation-for="TripMeter"></span>
    <div>
        <button type="submit">submit</button>
    </div>
</form>
<a href="/">Back</a>
@section scripts
{
@* NOTE: Invalid ajax.aspnetcdn.com URLs to test the fallback *@
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.j"
            asp-fallback-src="/scripts/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.j"
            asp-fallback-src="/scripts/jquery-validate/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.j"
            asp-fallback-src="/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
}