@model CarService.Web.Models.Car
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>Add</title>
</head>
<body>
    <header>
        <h1>Add Car</h1>
    </header>
    <main>
        <section>
            <form asp-controller="" asp-action="">

            </form>
        </section>
    </main>
</body>
</html>