@model ServiceItem
@{
    ViewBag.Title = "Add new item";
}

<h1>Add a new service item to your car</h1>
<form asp-controller="Cars" asp-action="AddItem">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>

    <label asp-for="KmInterval"></label>
    <input asp-for="KmInterval" />
    <span asp-validation-for="KmInterval"></span>

    <label asp-for="TimeIntervalYears"></label>
    <input asp-for="TimeIntervalYears" />
    <span asp-validation-for="TimeIntervalYears"></span>

    <label asp-for="LastService"></label>
    <input asp-for="LastService" />
    <span asp-validation-for="LastService"></span>

    <button type="submit">Add service item</button>
</form>
<a asp-controller="Cars"
   asp-action="Details"
   asp-route-id=@ViewBag.CarId>
    back to car details
</a>


