@model AddItemVM
@{
    ViewBag.Title = "Add new item";
}

<h1>Add a new service item to your car</h1>
<form asp-controller="Cars" asp-action="AddItem">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>

    <label asp-for="KmInterval"></label>
    <input asp-for="KmInterval" />
    <span asp-validation-for="KmInterval"></span>

    <label asp-for="TimeIntervalMonths"></label>
    <input asp-for="TimeIntervalMonths" />
    <span asp-validation-for="TimeIntervalMonths"></span>

    <label asp-for="LastService"></label>
    <input asp-for="LastService" />
    <span asp-validation-for="LastService"></span>

    <button type="submit">Add service item</button>
</form>
<a asp-controller="Cars"
   asp-action="Details"
   asp-route-id=@ViewBag.CarId>
    back to car details
</a>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
