@model DetailsVM
@{
    ViewBag.Title = "Details";
}

<partial name="Details/_StatusVMCss"/>

<header>
    <h1>Details</h1>
    <partial name="Details/_DetailsNav" />
</header>

<main>
    <partial name="Details/_DetailsCar" />
    <section>
        <h2 class="h5 mb-3">Service interval information</h2>
        <partial name="Details/_DetailsServiceItemsAccordion"></partial>
    </section>
</main>

