@model Car[]
@{
    ViewBag.Title = "Home";
}

<header>
    @* <h1>My Cars</h1> *@
    <partial name="_HeaderH1Title" model="@("My Cars!")" />
</header>
<main>
    <section>
        <partial name="_CarsList" />
    </section>
    <section>
        <a href='@Url.Action("Add", "Cars")'>Add car</a>
    </section>

