@model IndexVM
@{
    ViewBag.Title = "Home";
}

<header>
    <h1>My Cars</h1>
</header>
<main>
    <section>
        <ol>
            @foreach (var item in Model.Cars)
            {
                <li>
                    <p>
                        <strong>
                            @item.Brand @item.Model
                            <a asp-controller="Cars"
                               asp-action="Details"
                               asp-route-id=@item.Id>
                                Details
                            </a>
                        </strong>
                    </p>
                </li>
            }
        </ol>
    </section>
    <section>
        <a href='@Url.Action("Add", "Cars")'>Add car</a>
    </section>

